.ImgCarousel {
    height: 100%;
}

.TextUnderline {
    text-decoration: underline;
}

.TextDashed {
    text-decoration: underline dashed;
    text-decoration-thickness: 1px;
}

.TextUp1 {
    padding-top: 40px;
}

.TextUp2 {
    padding-top: 25px;
}

.TextUp3 {
    padding-top: 100px;
    padding-left: 50px;
}

.TextUp4 {
    padding-top: 17px;
}

.TextColor {
    color: #f9f9f9;
}

.TextRight {
    position: absolute;
    right: 0;
}

.TextRight1 {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.TextRight2 {
    padding-left: 50px;
}

.verticalLine {
    border-left: 1px solid #000;
    height: 240px;
}

.TextFront {
    font-size: 1.3rem;
}

.ImgStyle {
    max-width: 100px;
}